pandas
numpy
python-jose
fastapi
cryptography
pycryptodome
pymongo
celery
pyodbc
kafka-python
paho-mqtt
pika
python-multipart
chromadb
ollama
jq
langchain
langchain-community
langchain-openai
python-dotenv
SQLAlchemy
xgboost
scikit-learn
sentence-transformers