python-jose
fastapi
cryptography
pycryptodome
pymongo
celery
pyodbc
xgboost
kafka-python
paho-mqtt
pika
python-multipart
chromadb,
chroma,
ollama,
jq,
langchain,
langchain-community,
langchain-openai,
python-dotenv,
transformers==4.39.3,
sentence-transformers==2.4.0,
SQLAlchemy,